# Exploring Airports

In [1]:
# Dependencies
import os
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import geoapify_key

## DataFrame Preparation

In [2]:
# Import cities file as DataFrame
# YOUR CODE HERE
os.chdir(r"C:\Users\lanel\OneDrive\Desktop\Data Analytics info\University of Oregon\UO-Data-Analysis-Modue_6\Activity Files\Class_3_Activities\05-Stu_Exploring_Airports")

current_directory = os.getcwd() 
city_filepath = os.path.join(current_directory, 'Resources', 'Cities.csv')
city_data = pd.read_csv(city_filepath)
city_data

          City
0       Sydney
1    Melbourne
2        Perth
3       Cairns
4     Adelaide
5   Gold Coast
6   Townsville
7  Williamtown

In [3]:
# Add columns the airports data we will fetch using the Geoapify API
# Note that we used "" to specify initial entry.
# YOUR CODE HERE
         
city_data["Lat"] = ""
city_data["Lon"] = ""
city_data["Airport Name"] = ""
city_data["IATA Name"] = ""
city_data["Airport Address"] = ""
city_data["Distance"] = ""
city_data["Distance"] = ""

city_data.head()

        City Lat Lon Airport Name IATA Name Airport Address Distance
0     Sydney
1  Melbourne
2      Perth
3     Cairns
4   Adelaide

## Look for Geographical Coordinates for Each City

In [4]:
# Define the API parameters
params = {
    "apiKey":geoapify_key,
    "format":"json"
}

# Set the base URL
base_url = "https://api.geoapify.com/v1/geocode/search"

In [5]:
# Print a message to follow up the airport search
print("Starting airport search")

# Loop through the cities_pd DataFrame and search coordinates for each city
for index, row in city_data.iterrows():

    # Get the city's name & add ", Australia" to the string so geoapify finds the correct city
    city = row["City"]+", Australia"

    # Add the current city to the parameters
    params["text"] = f"{city}"

    # Make the API request
    response = requests.get(base_url, params=params)
    
    # Convert reponse to JSON
    response = response.json()

    # Extract latitude and longitude
    city_data.loc[index, "Lat"] = response["results"][0]["lat"] # YOUR CODE HERE
    city_data.loc[index, "Lon"] = response["results"][0]["lon"] # YOUR CODE HERE
    
    # Log the search results
    print(f"Coordinates for {city} fetched...")

# Display sample data to confirm that the coordinates appear
# YOUR CODE HERE

city_data.head()

Starting airport search

Coordinates for Sydney, Australia fetched...
Coordinates for Melbourne, Australia fetched...
Coordinates for Perth, Australia fetched...
Coordinates for Cairns, Australia fetched...
Coordinates for Adelaide, Australia fetched...
Coordinates for Gold Coast, Australia fetched...
Coordinates for Townsville, Australia fetched...
Coordinates for Williamtown, Australia fetched...

,City,Lat,Lon,Airport Name,IATA Name,Airport Address,Distance
0,Sydney,-33.869844,151.208285,,,,
1,Melbourne,-37.814245,144.963173,,,,
2,Perth,-31.955893,115.860585,,,,
3,Cairns,-16.920666,145.772185,,,,
4,Adelaide,-34.928181,138.599931,,,,

## Retrieve Airports' Information

In [6]:
# Set parameters to search for airport's details
radius = 50000
params = {
    "categories":"airport",
    "apiKey": geoapify_key,
    "limit":20
}

# Print a message to follow up the airport search
print("Starting airport details search")

# Iterate through the types_df DataFrame
for index, row in cities_pd.iterrows():
    
    # Get the city's name
    city = # YOUR CODE HERE
    
    # Get latitude, longitude from the DataFrame
    latitude = # YOUR CODE HERE
    longitude = # YOUR CODE HERE
    
    # Add the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{longitude},{latitude},{radius}"
    params["bias"] = f"proximity:{longitude},{latitude}"
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"
           
    # Make an API request using the params dictionary
    response = # YOUR CODE HERE
        
    # Convert the API response to JSON format
    response = # YOUR CODE HERE
    
    # Grab the first airport from the results and store the details in the DataFrame
    try:
        cities_pd.loc[index, "Airport Name"] = # YOUR CODE HERE
        cities_pd.loc[index, "IATA Name"] = # YOUR CODE HERE
        cities_pd.loc[index, "Airport Address"] = # YOUR CODE HERE
        cities_pd.loc[index, "Distance"] = # YOUR CODE HERE
        cities_pd.loc[index, "Website"] = # YOUR CODE HERE
    except KeyError as e:
        # If no airport is found, log the error.
        print(f"{e.args[0]} not found for {cities_pd.loc[index, 'Airport Name']}")
        
    # Log the search results
    print(f"nearest airport from {city}: {cities_pd.loc[index, 'Airport Name']}")

# Display sample data
# YOUR CODE HERE

SyntaxError: invalid syntax (3407403224.py, line 16)

In [ ]:
# Save Data to csv
# YOUR CODE HERE